main > div{
    margin: 10px;
}

.location-button{
    display: flex;
    justify-content: center;
}
.location-button > a > img {
    height: 10em;
    object-fit: cover;
    object-position: top center;

}
img{
    max-width: 100%;
}
#commercial{
    display: block;
    margin: 0 auto;
}
.location {
    position: relative;
    top: -50%;
    margin: 0 auto;
    color: #333333;
    background: #dddddd;
    text-align: center;
    max-width: 90%;

}
.content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
.image-services{
    display: grid;
    grid-template-columns: 50% 50%;
}

#parking-subway{
    display: grid;
    grid-template-rows: 100px 100px;
}


#parking-subway > img{
    height: 100px;
    max-width: 200px;
    width: 100% !important;
    object-fit: cover;
    object-position: top center;
}
.image-services > div >img{
    height: 200px;
    max-width: 200px;
    width: 100% !important;
    object-fit: cover;
    object-position: top center;
}
.image-services > div{
    margin: 10px;
}
.content > div ,.content > p{
    margin: 10px;

}
#home-text{
    max-width:500px;
}