/*
* {
    outline: 1px solid red !important;
}
*/
@import "https://fonts.googleapis.com/css2?family=Lora&display=swap";
/* this is a stylesheet for the content that is the same in all HTML (<header>,<nav>,
    <footer>). The design for <main> should be in an extra stylesheet.
 */

/*-------------navigation */
/* Navbar container */
* {
    font-family: Arial, Helvetica, sans-serif;
}
.bf{
    font-family: Lora bold;
}


.navbar {
    overflow: hidden;
    background-color: #333;
    font-family: Arial;
    margin-left: 2px;
}

/* Links inside the navbar */
.navbar a {
    float: right;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* The dropdown container */
.dropdown {
    float: right;
    overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;

}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content{
    display: block;
}

/*--------------header */
#logo{
    align-self: stretch;
    background-color: #F5F410;
}
.img-fluid{
    height: 45px;
}
header{
    top: 0;
    z-index: 1;
    position: sticky;
    background-color: #333;
    display: grid;
    grid-template-columns: 70px 1fr;
    margin: 10px;
    border-style: solid;

}
/*--------------main */

main{
    background-color: white;
    padding: 20px;

}

main h1 {
    font-family: Arial;
    font-size: 2rem;
    font-weight: normal;
}

main.colorMain {
    margin: 10px;
    border-radius: 10px;
    border-style: solid;
    background: rgba(245,244,16,255);
}

main.greyMain {
    margin: 10px;
    border-radius: 10px;
    border-style: solid;
    background: rgba(237,238,238,255);
}

/*--------------footer */
footer {
    background-color: #919191;
    margin: 10px;
    border-radius:  10px;
    border-style: solid;

}
footer > div{
    margin: 30px;
}


.footer_services > li, .footer_link > li > a{
    color: #333333;
}
ul { list-style: none }
.footer{
   display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}
.social_text{
    grid-column-start: 1;
    grid-column-end: 5;
    display: grid;


}
.connect_with_us{
    grid-column-start: 1;
    grid-column-end: 5;
    text-align: center;
}
.social_link{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.horizontalContainer {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}



