* {
    box-sizing: border-box;
}

/* Container needed to position the button. Adjust the width as needed */
h1{
    text-align: center;
}

.container {
    position: relative;
    width: 50%;
    text-align: center;
}

/* Centered text */
.text-position-in-image {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: yellow;
    font-size: clamp(.3rem, 3vw, 2rem);
    text-shadow: black 0px 0px 10px;

}

main>div {
    display: flex;
    flex-direction: column;
}

/* Make the image responsive */
.container img {
    max-width: 100%;
    border: solid;
}
.register-img{
    max-height:  80vh;
    max-width: 90vw;
    object-fit: fill;
}

/* Style the button and place it in the middle of the container/image */
.container .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: yellow;
    color: black;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    opacity: 70%;
    font-size: clamp(0.3em, 4vw, 2rem);
}

.container .btn:hover {
    background-color: whitesmoke;
}

.center-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80vw;
    max-width: 100%;
    height: auto;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.flex-container fieldset {
    flex: 1
}

.align-items-stretch {
    padding: 15px;
    gap: 15px;
    align-items: stretch;
}

@media screen and (max-width: 768px) {
    .flex-container-item fieldset {
        width: 100%;
        height: 100%;
    }
}