#course-plan {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#course-plan td, #course-plan th {
  border: 1px solid #ddd;
  padding: 8px;
}

#course-plan tr:nth-child(even){background-color: #f2f2f2;}

#course-plan tr:hover {background-color: #ddd;}

#course-plan th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #929795;
  color: white;
}