/*--------------main */
* {
    box-sizing: border-box;
}
main {
    background-color: #EDEDED;
    margin: 10px;
    padding: 20px 20px;
    border-radius: 10px;
    border-style: none;
}
@media screen and (max-width: 768px) {
    main {
        margin: 5px;
        border-radius: 5px;
    }
}