main {
    padding-top: 10px;
    padding-left: 80px;
}

main h1 {
    font-family: Arial;
    font-size: 2rem;
    font-weight: normal;
}

main.greyMain {
    margin: 10px;
    border-radius: 10px;
    background: whitesmoke;
}

.contactGrid {
    display: grid;
    grid-template-rows: 1fr;
    padding-right: 100px;
    /*grid-template-columns: auto auto;*/
    grid-template-columns: repeat(auto-fill, minmax(max((100% - 2em) / 2, 150px), 1fr));
    grid-gap: 2em;
}

p.contactInfo {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    width: 200px;
    font-family: Arial;
    /*box-shadow: 0px 0px 10px #888888;*/
}