
/* stylesheet for termsOfserfices, privacy, imprint */
main{
    margin: 10px;
    padding: 20px 20px;
    background-color: #EDEDED;
    border-radius: 10px;

}

@media screen and (max-width: 768px) {
    main {
        margin: 5px;
        border-radius: 5px;
    }
}