@import "https://fonts.googleapis.com/css2?family=Lora&display=swap";
/* stylesheet for termsOfserfices, privacy, imprint */
.legal-info{
    padding-left: 20px;
    padding-right: 20px;

}
h1{
    font-family:    Lora ;
}